<table>
<tr><td>User</td><td><b>%User</b></td></tr>
<tr><td>IP of the user</td><td><b>%UserIP</b></td></tr>
<tr><td>Action date</td><td><b>%ActionDate</b></td></tr>
<tr><td>Action type</td><td><b>%ActionType</b></td></tr>

<tr><td>Object type</td><td><b>%ObjectType</b></td></tr>
<tr><td>Message</td><td><b>%Message</b></td></tr>
</table>
